.luban-h5-editor {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .section.plugins {
    flex: 0 0 260px;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
  }

  .section.container {
    flex: 1;
  }

  .section.tools {
    flex: 0 0 36px;
  }

  .section.feature {
    width: 375px;
  }

  #editor-wrapper {
    padding: 60px 16px 24px;
    background-color: #f0f2f5;
  }

  #editor-wrapper .scroll-view {
    overflow: auto;
    height: 100%;
    text-align: center;
  }

  #editor-wrapper .scroll-view .editor-content {
    display: inline-block;
    position: relative;
    align-self: center;
  }
}
