@import '../../../styles/theme.scss';

.adjust-line-wrapper {
  .adjust-line {
    background-color: #eee;
    box-sizing: border-box;
  }

  .adjust-line-h {
    width: 1px;
    height: 100%;
  }

  .adjust-line-v {
    width: 100%;
    height: 1px;
  }

  .adjust-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 30px;
    height: 10px;
    background-color: #fff;

    .indicator {
      margin: 0 auto;
      width: 10px;
      height: 1px;
      background-color: #ccd5db;
    }
  }

  &.adjust-line-wrapper-v {
    position: relative;
    width: 100%;
    cursor: s-resize;

    .adjust-button {
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -15px;
    }
  }

  &.adjust-line-wrapper-h {
    position: relative;
    height: 100%;
    cursor: ew-resize;

    .adjust-button {
      position: absolute;
      right: -10px;
      top: 50%;
      margin-top: -15px;
      transform: rotate(90deg);
    }
  }

  &:hover {
    .adjust-button {
      background-color: $activeHoverColor;
    }

    .adjust-line {
      background-color: $activeHoverColor;
    }
  }
}
