.luban-h5-canvas {
  position: relative;
  overflow: hidden;
  outline: 1px solid #e7e7e7;
  background: #fff;

  &.edit {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZAgMAAAC5h23wAAAAAXNSR0IB2cksfwAAAAlQTFRF9fX18PDwAAAABQ8/pgAAAAN0Uk5T/yIA41y2EwAAABhJREFUeJxjYIAC0VAQcGCQWgUCDUONBgDH8Fwzu33LswAAAABJRU5ErkJggg==');
    background-size: 25px;
  }

  .luban-h5-canvas-wrapper {
    width: 100%;
    height: 100%;
  }
}
