.props-config-form {
  &-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .label {
      display: flex;
      align-self: flex-start;
      white-space: nowrap;
    }

    .prop-editor {
      margin-left: 8px;
    }
  }
}
