// !#zh 控制缩放大小的圆点
.shape__scale-point {
  position: absolute;
  background: #fff;
  border: 1px solid rgb(89, 199, 249);
  width: 8px;
  height: 8px;
  z-index: 1;
  border-radius: 50%;
  user-select: none;
  box-sizing: border-box;
  margin-top: -4px;
  margin-left: -4px;
}

.shape__scale-point[data-point="lt"]{
  cursor: nw-resize;
}

.shape__scale-point[data-point="rt"]{
  cursor: ne-resize;
}

.shape__scale-point[data-point="lb"]{
  cursor: sw-resize;
}

.shape__scale-point[data-point="rb"]{
  cursor: se-resize;
}

.shape__scale-point[data-point="lm"]{
  cursor: w-resize;
}

.shape__scale-point[data-point="tm"]{
  cursor: n-resize;
}

.shape__scale-point[data-point="rm"]{
  cursor: e-resize;
}

.shape__scale-point[data-point="bm"]{
  cursor: s-resize;
}

.shape__wrapper {
  position: absolute;
  user-select: none;
}

.shape__wrapper .content{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shape__wrapper-active {
  outline: 1px solid #70c0ff !important;
  z-index: 1;
}
